// Buttons and inputs
//
// Links, buttons, input boxes etc.
//
// Styleguide 3.0

// Links
//
// Link styles used in the styleguide
//
// .sg - Normal link
// :hover - Hover
// :active - Active
// :visited - Visited
//
// markup:
// <a href="#" class="sg {$modifiers}">Link text</a>
//
// Styleguide 3.1

a.sg {
  @include link-colors($pale-pink, $toledo, $pale-pink, $pale-pink, $toledo);
  transition: all 0.5s ease;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $default-action-dark;
  }
}


p.sg {
  @extend %no-dangling;
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
  &.intro {
    @extend h3;
  }
}

code.sg,
pre.sg {
  background: #f7f2f5;
  font-size: 14px;
  padding: 4px;
}

li.sg {
  @include default-font;
  margin-left: 1em;
  padding: .2em 0;
}

strong.sg {
  @include default-font;
  font-weight: 700;
}

small.sg {
  @include default-font;
  color: #888;
}
// Buttons
//
// Button styles used in the styleguide
//
// default - Default button
// .sg-primary - Primary button
// :disabled - Disabled button
//
// markup:
// <button class="sg {$modifiers}">Button text</button>
//
// Styleguide 3.2

button.sg {
  @include default-font;
  display: inline;

  margin-right: 8px;
  padding: 8px;

  cursor: pointer;

  color: white;
  border-radius: 5px;
  background-color: $default-action-color;

  &:hover {
    background-color: lighten($default-action-color, $action-color-change);
  }
  &:active {
    background-color: darken($default-action-color, $action-color-change);
  }

  &.sg-primary {
    color: white;
    background-color: $primary-action-color;
    &:hover {
      background-color: lighten($primary-action-color, $action-color-change);
    }
    &:active {
      background-color: darken($primary-action-color, $action-color-change);
    }
  }

  &:disabled {
    cursor: default;

    color: #999;
    background-color: $secondary-color;
  }
}

// Input boxes
//
// Styles for input boxes
//
// default - Default input
// :hover - Hovered input
// :focus - Focused input
// :active - Active input
//
// markup:
// <input class="sg {$modifiers}" type="text" value="Default text box">
// <input class="sg {$modifiers}" type="text" placeholder="Default placeholder">
// <input class="sg {$modifiers}" type="search" value="Search text box">
//
// Styleguide 3.3

input.sg {
  @include default-font;
  font-family: $secondary-font;
  font-weight: 300;

  margin: 8px;
  padding: 8px;
  padding: .5em;

  border: 1px solid $secondary-color;

  &:focus {
    background-color: $tertiary-color;
    border: 1px solid $secondary-color;
  }
}