$fa-font-path: '{{{appRoot}}}/assets/fonts';
@import 'components/font-awesome/font-awesome';

@mixin styleguide_custom_styles {
  // User can re-define this mixin to create custom style overrides
  // This mixin is included in the end of the application stylesheet
}

@import 'variables';
@import 'mixins';
@import 'helpers';

$footer-padding: 2em;
$footer-logo-height: 42px;

html,
body.sg {
  width: 100%;
  height: 100%;
}

.sg.sg-view-index {
  height: 100%;
}

.sg {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

// Colors and typography
//
// This section describes base colors and typography
//
// Styleguide 1.0

// Main colors
//
// $primary-color - Primary color
// $secondary-color - Secondary color
// $primary-action-color - Primary button color
// $default-action-color - Default button color and link color
// $tertiary-color - Used for input hovers and hilights
//
// markup:
// <div style="background: {$modifiers};" class="styleguide-color">{$modifiers}</div>
//
// Styleguide 1.1

// Calculated colors
//
// .color_lighten - Lighter than default action color
// .color_darken - Darker than default action color
//
// markup:
// <div class="styleguide-color {$modifiers}"></div>
//
// Styleguide 1.1.1

$default-action-light: lighten($default-action-color, $action-color-change);

.color_lighten {
  background-color: $default-action-light;
}

$default-action-dark: darken($default-action-color, $action-color-change);

.color_darken {
  background-color: $default-action-dark;
}

// Headings
//
// These are our headings
//
// markup:
// <h1 class="sg">Heading 1</h1>
// <p class="sg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ipsum, tincidunt vel convallis in, suscipit et risus. Morbi erat dolor, mattis at dignissim sed, feugiat sed lorem.
// <h2 class="sg">Heading 2</h2>
// <p class="sg">Mauris feugiat suscipit turpis, ut rhoncus lectus finibus sed. Etiam suscipit consectetur eros vitae venenatis.</p>
// <h3 class="sg">Heading 3</h3>
// <p class="sg">Ut leo ipsum, tincidunt vel mauris eget, convallis egestas justo. Nunc ligula neque, porta ac lorem id, ultrices dapibus dolor.</p>
// <h4 class="sg">Heading 4</h4>
// <p class="sg"> Phasellus interdum massa ante, ac placerat felis ultricies at. Fusce vulputate, odio sed convallis laoreet, tortor orci venenatis massa, a placerat ligula nisl vitae felis. In pellentesque ornare eleifend. Suspendisse potenti. Quisque eget mauris enim.</p>
// <h5 class="sg">Heading 5</h5>
//
// Styleguide 1.2

%no-dangling {
  &:first-child, &:first-of-type {
    margin-top: 0;
  }
}
h1, h2, h3, h4, h5 {
  @extend %no-dangling;
  font-family: 'Merriweather';
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
  color: #333;
  @include breakpoint($bp-medium-portrait) {
    @include rem(font-size, 17.5px);
  }
  @include breakpoint($bp-large)   {
    line-height: 1.58;
  }
}

h1, %h1 {
  @include rem(font-size, 16.25px);
  margin-bottom: 12px;
  @include breakpoint($bp-medium-portrait) {
    @include rem(font-size, 18.25px);
  }

  @include breakpoint($bp-large) {
    @include rem(font-size, 20px);
  }
}
h1.post-title {
  @include rem(font-size, 12px);
  margin-bottom: 26px;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-weight: bold;
}
h1.page-title {
  @include rem(font-size, 14px);
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #EBEBEB;
  @include breakpoint($bp-medium-portrait) {
    @include rem(font-size, 16px);
    margin-bottom: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #EBEBEB;
  }
}
h2, %h2 {
  @include rem(font-size, 10px);
  margin-bottom: 12px;
  @include breakpoint($bp-medium-portrait) {
    @include rem(font-size, 12px);
  }
  @include breakpoint($bp-large) {
    @include rem(font-size, 14px);
  }
}

h3, %h3 {
  @include rem(font-size, 8.75px);
  margin-bottom: 12px;

  @include breakpoint($bp-medium-portrait) {
    @include rem(font-size, 9px);
  }

  @include breakpoint($bp-large) {
    @include rem(font-size, 10.25px);
  }
}

h4, %h4, h5, %h5 {
  @include rem(font-size, 11.25px);

  @include breakpoint($bp-medium-portrait) {
    @include rem(font-size, 17.5px);
  }

  @include breakpoint($bp-large) {
    @include rem(font-size, 13.75px);
  }
}

// Buttons and inputs
//
// Links, buttons, input boxes etc.
//
// Styleguide 2.0

// Links
//
// Link styles used in the styleguide
//
// .sg - Normal link
// :hover - Hover
// :active - Active
// :visited - Visited
//
// markup:
// <a href="#" class="sg {$modifiers}">Link text</a>
//
// Styleguide 2.1

a.sg {
  @include link-colors($pale-pink, $toledo, $pale-pink, $pale-pink, $toledo);
  transition: all 0.5s ease;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
	&:active {
	  color: $default-action-dark;
	}
}


p.sg {
  @extend %no-dangling;
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
  &.intro {
    @extend h3;
  }
}

code.sg,
pre.sg {
  background: #f7f2f5;
  font-size: 14px;
  padding: 4px;
}

li.sg {
  @include default-font;
  margin-left: 1em;
  padding: .2em 0;
}

strong.sg {
  @include default-font;
  font-weight: 700;
}

small.sg {
  @include default-font;
  color: #888;
}
// Buttons
//
// Button styles used in the styleguide
//
// default - Default button
// .sg-primary - Primary button
// :disabled - Disabled button
//
// markup:
// <button class="sg {$modifiers}">Button text</button>
//
// Styleguide 2.3

button.sg {
  @include default-font;
  display: inline;

  margin-right: 8px;
  padding: 8px;

  cursor: pointer;

  color: white;
  border-radius: 5px;
  background-color: $default-action-color;

  &:hover {
    background-color: lighten($default-action-color, $action-color-change);
  }
  &:active {
    background-color: darken($default-action-color, $action-color-change);
  }

  &.sg-primary {
    color: white;
    background-color: $primary-action-color;
    &:hover {
      background-color: lighten($primary-action-color, $action-color-change);
    }
    &:active {
      background-color: darken($primary-action-color, $action-color-change);
    }
  }

  &:disabled {
    cursor: default;

    color: #999;
    background-color: $secondary-color;
  }
}

// Input boxes
//
// Styles for input boxes
//
// default - Default input
// :hover - Hovered input
// :focus - Focused input
// :active - Active input
//
// markup:
// <input class="sg {$modifiers}" type="text" value="Default text box">
// <input class="sg {$modifiers}" type="text" placeholder="Default placeholder">
// <input class="sg {$modifiers}" type="search" value="Search text box">
//
// Styleguide 2.4

input.sg {
  @include default-font;
  font-family: $secondary-font;
  font-weight: 300;

  margin: 8px;
  padding: 8px;
  padding: .5em;

  border: 1px solid $secondary-color;

  &:focus {
    background-color: $tertiary-color;
    border: 1px solid $secondary-color;
  }
}

// Forms
//
//
//
// Styleguide 3.0

// Navigation
//
//
//
// Styleguide 4.0

// Alerts
//
//
//
// Styleguide 5.0

// States
//
//
//
// Styleguide 6.0

// Utilities
//
//
//
// Styleguide 7.0