// Buttons
//
// The button tag defines a clickable button. Inside a button element you can put content,
// like text or images. This is the difference between this element and buttons created
// with the input element.
//
// Markup:
// <button class="{{modifier_class}}">Button Element</button>
// <a class="button {{modifier_class}}" href="#" role="button">Link button</a>
// <a class="button {{modifier_class}} button-sm" href="#" role="button">Small button</a>
//
// .button            - Basic <code>.button</code> used throughout the site.
// .button--inverse            - Basic <code>.button</code> used throughout the site.
// .button--transparent--dark - A transparent button with gray text and border.
// .button--transparent--light - A transparent button with white text and border.
// .button-sm         - Use <code>.button-sm</code> for small buttons.
// .button--success   - Use <code>.button</code> for most common page actions.
// .button--success--inverse   - Use <code>.button</code> for most common page actions.
// .button--success--transparent   - Use <code>.button</code> for most common page actions.
// .button--purple   - A flat purple button.
// .button--purple--inverse   - A flat purple button.
// .button--purple--transparent   - A flat purple button.
// .button--warning   - To indicate to a user that an intended action is potentially dangerous, apply
//                      the <code>.button--warning</code> class to a button or link.
// .button--warning--inverse   - To indicate to a user that an intended action is potentially dangerous, apply
//                      the <code>.button--warning</code> class to a button or link.
// .button--warning--transparent   - To indicate to a user that an intended action is potentially dangerous, apply
//                      the <code>.button--warning</code> class to a button or link.
// .button--info      - Use this for links that provide additional information.
// .button--info--inverse      - Use this for links that provide additional information.
// .button--info--transparent      - Use this for links that provide additional information.
// .button--dark-gray - A dark button to be used in the footer.
// .button--dark-gray--inverse - A dark button to be used in the footer.
// .button--dark-gray--transparent - A dark button to be used in the footer.
//
// Styleguide 3.0

// Button groups
//
// Markup:
// <div class="button-group">
//   <button class="button {{modifier_class}}">Button Element</button>
//   <button class="button {{modifier_class}}">Button Element</button>
//   <button class="button {{modifier_class}}">Button Element</button>
// </div>
//
// .button--dark-gray - Dark Gray button group.
// .button--green - Green button group.
// .button--blue - Blue button group.
// .button--purple - Purple button group.
//
// Styleguide 3.1


// Disabled buttons
//
// Markup:
// <button class="button {{modifier_class}}" type="button" disabled>Disabled button</button>
// <a class="button {{modifier_class}} disabled" href="#" role="button">Disabled button</a>
// <a class="button {{modifier_class}} disabled button-sm" href="#" role="button">Small button</a>
//
// .disabled            - Basic <code>.button</code> used throughout the site.
// .button--transparent--dark - A transparent button with gray text and border
// .button--transparent--light   - A transparent button with white text and border.
// .button--success   - Use <code>.button</code> for most common page actions.
// .button--success--inverse   - Use <code>.button</code> for most common page actions.
// .button--success--transparent   - Use <code>.button</code> for most common page actions.
// .button--purple   - A flat purple button
// .button--purple--inverse   - A flat purple button.
// .button--purple--transparent   - A flat purple button.
// .button--warning   - To indicate to a user that an intended action is potentially dangerous, apply
//                      the <code>.button--warning</code> class to a button or link.
// .button--warning--inverse   - To indicate to a user that an intended action is potentially dangerous, apply
//                      the <code>.button--warning</code> class to a button or link.
// .button--warning--transparent   - To indicate to a user that an intended action is potentially dangerous, apply
//                      the <code>.button--warning</code> class to a button or link.
// .button--info      - Use this for links that provide additional information.
// .button--info--inverse      - Use this for links that provide additional information.
// .button--info--transparent      - Use this for links that provide additional information.
// .button--dark-gray - A dark button to be used in the footer.
// .button--dark-gray--inverse - A dark button to be used in the footer.
// .button--dark-gray--transparent - A dark button to be used in the footer.
//
// Styleguide 3.2


button,
.button {
  @include button;
  @include button-colors;

  &--inverse {
    @include button-colors-inverse($probo-white, $base-font-color, $base-font-color);
  }

  &--transparent--dark {
    @include button-colors-inverse(transparent, $base-font-color, $base-font-color);
  }

  &--transparent--light {
    @include button-colors-inverse(transparent, $probo-white, $probo-white);
  }
}

.button--success,
.button--green {
  @include button-colors($probo-green, $probo-white);

  &--inverse {
    @include button-colors-inverse($probo-white, $probo-green, $probo-green);
  }

  &--transparent {
    @include button-colors-inverse(transparent, $probo-green, $probo-green);
  }
}

.button--purple {
  @include button-colors($probo-purple-light, $probo-white);

  &--inverse {
    @include button-colors-inverse($probo-white, $probo-purple-light, $probo-purple-light);
  }

  &--transparent {
    @include button-colors-inverse(transparent, $probo-purple-light, $probo-purple-light);
  }
}

.button--warning,
.button--red {
	@include button-colors($probo-red, $probo-white);

  &--inverse {
    @include button-colors-inverse($probo-white, $probo-red, $probo-red);
  }

  &--transparent {
    @include button-colors-inverse(transparent, $probo-red, $probo-red);
  }
}

.button--info,
.button--blue {
  @include button-colors($probo-blue, $probo-white);

  &--inverse {
    @include button-colors-inverse($probo-white, $probo-blue, $probo-blue);
  }

  &--transparent {
    @include button-colors-inverse(transparent, $probo-blue, $probo-blue);
  }
}

.button--dark-gray {
  @include button-colors($probo-gray-dark, $probo-white, $probo-gray-dark);

  &--inverse {
    @include button-colors-inverse($probo-white, $probo-gray-dark, $probo-gray-dark);
  }

  &--transparent {
    @include button-colors-inverse(transparent, $probo-gray-dark, $probo-gray-dark);
  }
}

.button--icon {
  appearance: none;
  background-color: transparent;
  border: none;
  background-image: none;

  &:hover {
    background-image: none;
    background-color: transparent;
    box-shadow: none;
  }
}

.button-group {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  .button {
    float: left;
    border-radius: 0;

    &:first-child {
      border-radius: $border-radius 0 0 $border-radius;
      border-right: 1px solid $probo-white;
    }

    &:last-child {
      border-radius: 0 $border-radius $border-radius 0;
      border-left: 1px solid $probo-white;
    }
  }
}

//
// .button-group--gray {
//   @include button-group();
// }
//
// .button-group--green {
//   @include button-group($probo-green, $probo-white);
// }
//
// .button-group--purple {
//   @include button-group($probo-purple-light, $probo-white);
// }
//
// .button-group--blue {
//   @include button-group($probo-blue, $probo-white);
// }

.button--clipboard {
  @include inline-block;

  border: 1px solid $probo-pale-darker;
  background-color: transparent;
  appearance: none;
  padding: 0;
  border-radius: $border-radius;
  line-height: 2.3;

  span {
    @include inline-block;

    margin: 0 $base-margin;
  }

  i {
    margin: 0 0 0 $base-margin / 2;
    padding: $base-margin;
  }
}

.button-sm,
.button-sm:hover {
  @include rem(font-size, 14px);
  @extend .f-semi-bold;

  padding: 6px $base-margin;

  line-height: (21 / 17);
}
