// Inputs
//
// .u-full-width - A full width input.
// .form__input - Basic form input.
// .required - A required input field.
//
// Markup:
// <form>
//   <div class="field__container col">
//     <label for="name">Text Input:</label>
//     <input class="{{modifier_class}}" type="text"/>
//   </div>
// </form>
//
// Styleguide 5.1

// Input group
//
// .form__input-group - Wrap inputs with this class to group them
//
// Markup:
// <form>
//   <div class="segment__item--inline form__input-group">
//     <div class="form__input-group" style="padding-right: 12px;">
//       <label for="name">Text Input:</label>
//       <input class="u-full-width" type="text" name="name" id="name" />
//     </div>
//     <div class="form__input-group" style="padding-left: 12px;">
//       <label for="name">Required Text Input:</label>
//       <input class="required u-full-width" type="text" name="name" id="name" placeholder="XXXX XXXX XXXX XXXX"/>
//     </div>
//   </div>
// </form>
//
// Styleguide 5.2

// Submit button
//
// type="submit" - A submit button
//
// Markup:
// <form>
//   <input class="button" type="submit" value="Submit" />
// </form>
//
// Styleguide 5.3

// Checkbox
//
// type="checkbox" - A checkbox input
//
// Markup:
// <form>
//   <label for="checkbox">Checkbox:</label>
//   <input type="checkbox" name="checkbox" id="checkbox" />
// </form>
//
// Styleguide 5.4

// Textarea
//
// textarea - A multi-line text input control.
//
// Markup:
// <form>
//   <label for="textarea">Textarea:</label>
//   <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
// </form>
//
// Styleguide 5.5

// Radion buttons
//
// input type="radio" - An input to select one choice.
//
// Markup:
// <form>
//   <input type="radio" name="gender" value="male" checked> Male<br>
//   <input type="radio" name="gender" value="female"> Female<br>
//   <input type="radio" name="gender" value="other"> Other
// </form>
//
// Styleguide 5.6

// Password
//
// input type="password" - Defines a password.
//
// Markup:
// <form>
//   User name:<br>
//   <input type="text" name="username"><br>
//   User password:<br>
//   <input type="password" name="psw">
// </form>
//
// Styleguide 5.7

// HTML 5 Inputs
//
// input type="password" - Defines a password.
//
// Markup:
// <form>
//   <div class="field__container col">
//     <label for="name">Email:</label>
//     <input class="{{modifier_class}}" type="email"/>
//   </div>
//   <div class="field__container col">
//     <label for="name">Date:</label>
//     <input class="{{modifier_class}}" type="date"/>
//   </div>
//   <div class="field__container col">
//     <label for="name">Month:</label>
//     <input class="{{modifier_class}}" type="month"/>
//   </div>
//   <div class="field__container col">
//     <label for="name">Number:</label>
//     <input class="{{modifier_class}}" type="number"/>
//   </div>
//   <div class="field__container col">
//     <label for="name">Search:</label>
//     <input class="{{modifier_class}}" type="search"/>
//   </div>
//   <div class="field__container col">
//     <label for="name">Phone:</label>
//     <input class="{{modifier_class}}" type="tel"/>
//   </div>
//   <div class="field__container col">
//     <label for="name">Url:</label>
//     <input class="{{modifier_class}}" type="url"/>
//   </div>
// </form>
//
// Styleguide 5.8

// Color Input
//
// input type="color" - Input a color.
//
// Markup:
// <form>
//   Color:
//   <input type="color" name="favcolor">
// </form>
//
// Styleguide 5.8.1

// Form actions
//
// form-actions - Wrap action buttons with <code>form-actions</code> class.
//
// Markup:
// <div class="form-actions">
//   <button type="button" class="button button--success">Save changes</button>
//   <button type="button" class="button">Cancel</button>
// </div>
//
// Styleguide 5.9

%input-group {
  margin: 0 0 10px !important;
  border: none;
  padding: 0;
}
%input-label {
  display: block;
  margin-bottom: $base-margin / 2;
}
%checkbox-label {
  @include inline-block;
  margin-right: $base-margin / 3;
}

.form {
  .field {

    &__container {
      padding-right: 12px;
    }
  }

  &__input-group {
    @extend %input-group;
  }

  &__label {
    @extend %input-label;
  }

  &__input {
    @extend %form-inputs;

    &.required,
    &.ng-invalid {
      border: 1px solid $probo-alert-error;
    }
  }

  input[type="color"] {
    padding: 0;
  }

  &__input--small {
    @extend %form-inputs-small;
  }

  &__input-invalid {
    @extend %smaller;
    color: $probo-alert-error;
    display: block;
  }

  &__submit {
    @extend .button--success;
  }
}

form {
	@extend .form;

	label {
		@extend .form__label;
  }

  label[for=checkbox] {
    @extend %checkbox-label;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="number"],
  input[type="range"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  input[type="password"],
  textarea {
    @extend .form__input;
  }
}


%form-inputs {
  padding: 10px 14px;
  box-shadow: 1px 1px 1px rgba(#000, 0.1) inset;
  border: 1px solid $probo-pale-darker;
  color: $probo-gray-medium;
  background-color: $probo-pale-medium;
  max-width: 100%;

  &:active,
  &:focus {
    background-color: $probo-pale;
    outline: none;
  }
}

%form-inputs-small {
  @extend %form-inputs;
  padding: 10px;
}

%form-inset-wrapper {
  width: 98%;
  margin: 0 auto;

  @include breakpoint($bp-medium) {
    width: 80%;
  }

  @include breakpoint($bp-large) {
    width: 50%;
  }
}

.form-actions {
  .button {
    display: block;
    float: right;
  }
}
