.segment {
  margin-bottom: 2 * $base-margin;
}

.segment__header {
  @extend .u-no-outline;
  @include cf;
  padding-bottom: $base-margin * 2;
  margin-bottom: $base-margin;
  border-bottom: 1px solid $probo-pale;
  position: relative;

  input[type=search] {
    @extend %form-inputs;
  }
}

.segment__header-button {
  @include button($probo-green);
  @include link-colors(white);

  @include breakpoint($bp-medium) {
    position: absolute;
    top: 15px;
    right: 0;
  }
}

.segment__header-links {
  @include breakpoint($bp-medium) {
    position: absolute;
    top: 15px;
    right: 15px;
  }
}

.segment__title-button,
.segment__toggle {
  margin-top: $base-margin;

  @include breakpoint($bp-medium-landscape) {
    margin-top: 0;
  }

  i {
    margin: 0;
  }

  &.success {
    @extend .button--success;
  }
  &.warning,
  &.pending {
    @extend %state-warning-bg-hover;
    border-color: $probo-alert-warning;
  }
  &.error {
    @extend %state-error-bg-hover;
    border-color: $probo-alert-error;
  }
}

.segment__title-button {
  @include button($probo-green);
}

.segment__body {
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s all ease-in-out;

  &.open {
    height: auto;
    overflow: visible;
    opacity: 1;
  }
}

.segment__sidebar {
  background-color: $probo-pale;
  @include breakpoint($bp-medium-landscape) {
    border-right: 1px solid $probo-pale-darker;
  }
}

.segment__sidebar-item {
  @extend .u-no-outline;
  @extend .h3;
  transition: 0.2s all linear;
  cursor: pointer;
  padding: $base-margin * 1.5 $base-margin;
  margin: 0;
  &.selected {
    background-color: $probo-pale-dark;
  }

  p {
    @extend %normal;
    font-weight: 400;
  }

  @include breakpoint($bp-medium-landscape) {
    border-bottom: 1px solid $probo-pale-darker;
    border-top: 1px solid #fff;

    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

.segment__main {
  position: relative;

  &.with-sidebar {
    @include breakpoint($bp-medium-landscape) {
      box-shadow: -7px 0 5px -5px $probo-pale-darker;
    }
  }
}

.segment__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 2;
  background-color: rgba(#000, 0.1);

  .inner {
    background-color: $probo-pale;
    border-radius: $border-radius;
    padding: 10px 20px;
    width: 95%;
    max-width: 400px;
    margin: 10px auto 0;
    text-align: center;
    .button {
      margin-top: 10px;
    }
  }
}

.segment__title {
  color: $probo-gray-dark;
  margin: 0;
  width: 90%;

  small {
    @include rem(font-size, $body-font-size);
    color: $probo-gray-medium;
    display: block;
    margin-top: 10px;
    font-weight: 400;
    span {
      display: block;
      margin-top: 10px;
      @include breakpoint($bp-medium) {
        @include inline-block;
        margin-right: 10px;
        margin-top: 0;
        &:last-child {
          margin-right: 0;
        }
      }
      &.separator {
        display: none;
        @include breakpoint($bp-medium-landscape) {
          @include inline-block;
        }
      }
    }
  }
}

.segment__note {
  margin: $base-margin 0;
  padding: $base-margin $base-margin * 1.5;
  background-color: $probo-pale;
  border-radius: $border-radius;
  h3 {
    margin: 0 0 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $probo-pale-dark;
  }
  p,
  pre {
    margin: 0;
  }
}

.segment__items {
  @extend %list-no-style;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}

.segment__item {
  @extend .u-no-outline;
  list-style-type: none;
  position: relative;
  border-bottom: 1px solid $probo-pale;

  &.success {
    @extend %state-success-border;
  }

  &.warning,
  &.pending {
    @extend %state-pending-border;
  }

  &.error {
    @extend %state-error-border;
  }

  &.pointer {
    cursor: pointer;
  }

  &--inline {
    display: flex;
    & > * {
      flex: 1;
    }
  }
}

.segment__item-title {
  padding: $base-margin 0;
  h3,
  h2,
  p {
    margin: 0;
  }
}

.segment__content {
  overflow: scroll;
  margin: 15px;
  padding: 5px 25px;
  background-color: #fff;
  color: #000;
  border: 1px solid $probo-pale-dark;
  border-radius: $border-radius;
}

.segment__details-link {
  margin-top: 15px;
  display: block;

  @include breakpoint($bp-medium) {
    position: absolute;
    top: 32%;
    right: 20px;
    margin-top: 0;
  }

  span {
    @include inline-block;
    color: $probo-blue-dark;
    transition: all 1s ease-in;
    cursor: pointer;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: $probo-blue;
      text-decoration: underline;
    }
    a {
      @include link-colors($probo-blue-dark, $probo-blue);
    }
  }
}

.segment__filter {
  @include cf;
  background-color: darken($probo-pale, 2%);

  &-item {
    padding: $base-margin;
  }
}
