// Tables
//
// These are utility classes. You can use these to perform basic, one off style changes without the need for editing a CSS class for a small change.
//
// .table-striped - Create a striped table.
// .table-bordered - Create a table with borders.
// .table-hover - Enable hover style on table rows.
//
// Markup:
// <table class="table {{modifier_class}}">
//   <tr>
//     <th>First Name</th>
//     <th>Last Name</th>
//     <th>Username</th>
//   </tr>
//   <tr>
//     <td>Marietta</td>
//     <td>Simes</td>
//     <td>m.simes</td>
//   </tr>
//   <tr>
//     <td>Christoper</td>
//     <td> Link</td>
//     <td>c.link</td>
//   </tr>
//   <tr>
//     <td>Colin</td>
//     <td>Galdamez</td>
//     <td>c.galdamez</td>
//   </tr>
// </table>
//
// Styleguide 4.0

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.table {
  width: 100%;
  margin-bottom: $base-margin * 2;

  th,
  td {
    padding: $base-spacing;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid $probo-pale-dark;
  }

  th {
    font-weight: 700;
  }

  thead th {
    vertical-align: bottom;
  }

  // Remove top border from thead by default
  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }

  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid $probo-pale-dark;
  }

  // Nesting
  .table {
    background-color: $probo-pale-dark;
  }
}


// CONDENSED TABLE W/ HALF PADDING
// -------------------------------
.table-condensed {
  th,
  td {
    padding: $base-spacing / 2;
  }
}


// BORDERED VERSION
// ----------------
.table-bordered {
  border: 1px solid $probo-pale-dark;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapse; // IE7 can't round corners anyway
  border-left: 0;

  // Prevent a double border
  caption + thead tr:first-child th,
  caption + tbody tr:first-child th,
  caption + tbody tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + tbody tr:first-child th,
  colgroup + tbody tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
}


// ZEBRA-STRIPING
// --------------
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  tbody {
    > tr:nth-child(odd) > td,
    > tr:nth-child(odd) > th {
      background-color: $probo-pale;
    }
  }
}


// HOVER EFFECT
// ------------
// Placed here since it has to come after the potential zebra striping
.table-hover {
  tbody {
    tr:hover > td,
    tr:hover > th {
      background-color: $probo-pale;
    }
  }
}


// TABLE CELL SIZING
// -----------------

// Reset default grid behavior
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none; // undo default grid column styles
  margin-left: 0; // undo default grid column styles
}
