// Type
//
// These are type classes. You can use these to apply style changes to text of any kind.
//
// Styleguide 2.0

// Headings
//
// .h1 - h1 text
// .h2 - h2 text
// .h3 - h3 text
// .h4 - h4 text
// .h5 - h5 text
// .h6 - h6 text
//
// Markup:
// <span class="{{modifier_class}}">Probo heading</span>
//
//
// Styleguide 2.1
%tiny {
  @include rem(font-size, 0.6 * $body-font-size);
}

%smaller {
  @include rem(font-size, 0.7 * $body-font-size);
}

%small {
  @include rem(font-size, 0.9 * $body-font-size);
}

%normal {
  @include rem(font-size, $body-font-size);
}

%large {
  @include rem(font-size, 1.25 * $body-font-size);
}

%larger {
  @include rem(font-size, 1.5 * $body-font-size);
}

%largest {
  @include rem(font-size, 2 * $body-font-size);
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  @extend %normal;
  color: $base-font-color;
  font-family: $body-text-font-family;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @include link-colors($link-color, $link-color-hover);
  text-decoration: none;
  transition: color 0.25s ease;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    text-decoration: underline;
  }
}

i {
  margin-right: 5px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.p,
p {
  @extend %no-dangling;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $header-text-font-family;
}

.h1 {
  @extend %largest;
  font-weight: 700;
}

.h2 {
  @extend %larger;
  font-weight: 600;
}

.h3 {
  @extend %large;
  font-weight: 600;
}

.h4 {
  @extend %normal;
  font-weight: 600;
}

.h5 {
  @extend %small;
  font-weight: 600;
}

.h6 {
  @extend %smaller;
  font-weight: 600;
}

.p {
  @extend %normal;
}


// Inline element styles
//
// .u-underline - Underlned text
// .u-italic - Italicized text
// .u-bold - Bold text
// .u-visually-hidden - Hide text
// .mark - Highlight text
// .em - Emphasize text
// .del - Show text as deleted
// .text-right - Align text to the right
// .text-left - Align text to the left
// .text-center - Center text
//
// Markup:
// <span class="{{modifier_class}}">Probo sample text</span>
//
// Styleguide 2.2
//

.u-underline {
  text-decoration: underline;
}

.u-italic {
  font-style: italic;
}

.u-bold {
  font-weight: 700;
}

.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.u-focusable {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.u-invisible {
  visibility: hidden;
}

.u-hidden {
  display: none !important;
}

.mark {
  background: #ff0;
  color: #000;
}

.em {
  font-style: italic;
}

.del {
  text-decoration: line-through;
}
%no-dangling {
  &:first-child,
  &:first-of-type {
    margin-top: 0;
  }
  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

%no-active-outline {
  &:active,
  &:focus {
    outline: none;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}


// Body text
//
// p - A paragraph of text should be wrapped with a <code>p</code> tag.
//
// Markup:
// <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
//
// Styleguide 2.3

// Lists
//
// Styleguide 2.4

// Unordered list
//
// ul - A bulleted list of items is created with the <code>ul</code> tag.
//
// Markup:
// <ul>
//   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
//   <li>Aliquam tincidunt mauris eu risus.</li>
//   <li>Vestibulum auctor dapibus neque.</li>
// </ul>
//
// Styleguide 2.4.1

// Ordered lists
//
// ol - A numbered list of items is created with the <code>ol</code> tag.
//
// Markup:
// <ol>
//   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
//   <li>Aliquam tincidunt mauris eu risus.</li>
//   <li>Vestibulum auctor dapibus neque.</li>
// </ol>
//
// Styleguide 2.4.2
