// Type
//
// These are type classes. You can use these to apply style changes to text of any kind.
//
// Styleguide 2.0

// Headings
//
// .h1 - h1 text
// .h2 - h2 text
// .h3 - h3 text
// .h3-alt - h3-alt text
// .h4 - h4 text
// .h5 - h5 text
// .h6 - h6 text
//
// Markup:
// <span class="{{modifier_class}}">Probo heading</span>
//
//
// Styleguide 2.1

// @TODO Move extendable and utility classes to 01-utilities directory

%tiny {
  @include rem(font-size, 0.6 * $body-font-size);
}

%smaller {
  @include rem(font-size, 0.7 * $body-font-size);
}

%small {
  @include rem(font-size, 0.9 * $body-font-size);
}

%normal {
 @include rem(font-size, $body-font-size);
}

%large {
  @include rem(font-size, 1.25 * $body-font-size);
}

%larger {
  @include rem(font-size, 1.5 * $body-font-size);
}

%largest {
  @include rem(font-size, 2 * $body-font-size);
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  @extend %normal;

  color: $base-font-color;
  font-family: $sans-serif;
  line-height: $body-line-height;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body-text {
  font-family: $serif;
  line-height: 1.65;
}

a {
  @include link-colors($link-color, $link-color-hover);

  text-decoration: none;
  transition: color 0.25s ease;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.nav-link {
  @include rem(font-size, 15px);
  @include link-colors($probo-gray);

  color: $probo-gray-dark;
  line-height: (22 / 15);
}

.small-text-link {
  @include rem(font-size, 14px);
  @include link-colors($probo-gray);

  font-weight: 600;
  text-transform: uppercase;
  line-height: (21 / 14);
}

i {
  margin-right: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
}


h1,
.h1 {
  @include rem(font-size, 40px);
  @extend .f-semi-bold;

  line-height: (50 / 40);
}

h2,
.h2 {
  @include rem(font-size, 32px);
  @extend .f-semi-bold;

  line-height: (38 / 32);
}

h3,
.h3 {
  @include rem(font-size, 26px);
  @extend .f-normal;

  line-height: (32 / 26);
}

.h3-alt {
  @extend .h3;

  &:before {
    content: '|';
    padding-right: 16px;
  }
}

h4,
.h4 {
  @include rem(font-size, 18px);
  @extend .f-semi-bold;

  line-height: (26 / 18);
}

h5,
.h5 {
  @include rem(font-size, 16px);
  @extend .f-semi-bold;
}

h6,
.h6 {
  @include rem(font-size, 14px);
  @extend .f-semi-bold;
}

.p {
  @include rem(font-size, $body-font-size);
  margin: 0;
}

p + p {
  margin-top: $base-margin;
}


// Inline element styles
//
// .f-underline - Underlned text
// .f-italic - Italicized text
// .f-bold - Bold text
// .f-semi-bold - Semi-Bold text
// .f-light - Light text
// .u-visually-hidden - Hide text
// .mark - Highlight text
// .em - Emphasize text
// .del - Show text as deleted
// .text-right - Align text to the right
// .text-left - Align text to the left
// .text-center - Center text
//
// Markup:
// <span class="{{modifier_class}}">Probo sample text</span>
//
// Styleguide 2.2
//

.f-underline {
  text-decoration: underline;
}

.f-italic {
  font-style: italic;
}

.f-bold {
  font-weight: 700;
}

.f-semi-bold {
  font-weight: 600;
}

.f-light {
  font-weight: 300;
}

.f-normal {
  font-weight: 400;
}

.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.u-focusable {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

.u-invisible {
  visibility: hidden;
}

.u-hidden {
  display: none !important;
}

.mark {
  background: #ff0;
  color: #000;
}

.em {
  font-style: italic;
}

.del {
  text-decoration: line-through;
}

%no-dangling {
  &:first-child,
  &:first-of-type {
    margin-top: 0;
  }
  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

%no-active-outline {
  &:active,
  &:focus {
    outline: none;
  }
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}


// Body text
//
// .body-text - Any text that is considered body copy will need this class. This will give it a serif font.
//
// Markup:
//<div class="body-text">
//<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
// <p>Nunc consequat ipsum at nisl mollis, id bibendum nibh convallis. Nulla elit ex, lacinia porttitor massa vel, varius luctus odio. Sed sit amet ullamcorper nisl. Vivamus eleifend, est sed scelerisque pretium, elit lectus eleifend mauris, id commodo velit mauris nec orci. Aliquam posuere in tortor vel iaculis.</p>
//</div>
//
// Styleguide 2.3

// Links
//
// Styleguide 2.4

// Inline links
//
// a - An inline link.
//
// Markup:
//<div class="body-text">
// <p>Curabitur in <a href="/">condimentum nisl</a>. Cras condimentum rhoncus tellus vel tempus. Nam massa ex, maximus ut metus et, bibendum posuere orci.</p>
//</div>
//
// Styleguide 2.4.1

// Navigation links
//
// .nav-link - A link in a navigation menu.
//
// Markup:
// <ul>
//   <li><a href="/" class="nav-link">Product</a></li>
//   <li><a href="/" class="nav-link">About</a></li>
//   <li><a href="/" class="nav-link">Pricing</a></li>
// <ul>
//
// Styleguide 2.4.2

// Small text links
//
// .small-text-link - A small text link.
//
// Markup:
// <a href="/" class="small-text-link">Next post</a>
//
// Styleguide 2.4.3

// Lists
//
// Styleguide 2.5

// Unordered list
//
// ul - A bulleted list of items is created with the <code>ul</code> tag.
//
// Markup:
// <ul>
//   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
//   <li>Aliquam tincidunt mauris eu risus.</li>
//   <li>Vestibulum auctor dapibus neque.</li>
// </ul>
//
// Styleguide 2.5.1

// Ordered lists
//
// ol - A numbered list of items is created with the <code>ol</code> tag.
//
// Markup:
// <ol>
//   <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
//   <li>Aliquam tincidunt mauris eu risus.</li>
//   <li>Vestibulum auctor dapibus neque.</li>
// </ol>
//
// Styleguide 2.5.2
