.bg-blue {
  background-color: #00b7ff; }

.bg-purple {
  background-color: #a6548c; }

.bg-purple-dark {
  background-color: #440027; }

.bg-pale {
  background-color: #f7f7f7; }

.bg-pale-dark {
  background-color: #ebebeb; }
