// Main color definitions
$primary-color: #36071C !default;
$secondary-color: #a75f90 !default;
$tertiary-color: #EBEBEB !default;

// Button and link colors
$primary-action-color: #4a986e !default;
$default-action-color: #006fd7 !default;
$action-color-change: 5% !default;

// Fonts
$primary-font: Helvetica, Arial, sans-serif !default;
$secondary-font: Helvetica, Arial, sans-serif !default;
