// Layout
//
// These are the basic building blocks of Probo. This is where classes and styles are defined.
//
// Styleguide 1.0

// Wrapper
//
// This allows you to center a page’s contents with a .wrapper. This applied a max-width: 1200px and uses margin to center it.
//
// markup:
// <div class="sg wrapper">
//   …
// </div>
//
// Styleguide 1.1

.sg.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

// Left Sidebar
//
// Create a left sidebar on your page using #sidebar-first before .page-content.
//
// markup:
// <div id="sidebar-first">
//   …
// </div>
// <div class="page-content">
//   …
// </div>
//
// Styleguide 1.2

#sidebar-first {
  width: 24%;
  max-width: 270px;
}