$fa-font-path: '{{{appRoot}}}/assets/fonts';
@import 'components/font-awesome/font-awesome';

@mixin styleguide_custom_styles {
  // User can re-define this mixin to create custom style overrides
  // This mixin is included in the end of the application stylesheet
}

@import 'variables';
@import 'mixins';
@import 'helpers';

$footer-padding: 2em;
$footer-logo-height: 42px;

html,
body.sg {
  width: 100%;
  height: 100%;
}

.sg.sg-view-index {
  height: 100%;
}

.sg {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}