html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.u-hidden {
  @include hidden;
}

.u-invisible {
  @include invisible;
}

.u-accessible {
  @include visuallyhidden;
}

.u-no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-unfloat-mobile {
  @include breakpoint(max-width $bp-medium) {
    float: none;
  }
}

.u-inline {
  display: inline;
}

.u-no-outline {
  &:focus,
  &:active {
    outline: none;
  }
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-full-width {
  width: 100%;
}

.u-padding-top {
  padding-top: $base-margin;
}

.u-padding-bottom {
  padding-bottom: $base-margin;
}

.u-padding-left {
  padding-left: $base-margin;
}

.u-padding-right {
  padding-right: $base-margin;
}

.u-margin-top {
  margin-top: $base-margin;
}

.u-margin-bottom {
  margin-bottom: $base-margin;
}

.u-margin-left {
  margin-left: $base-margin;
}

.u-margin-right {
  margin-right: $base-margin;
}

.u-hidden-sm {
  display: none;
  @include breakpoint($bp-medium) {
    display: block;
  }
}

.u-hidden-md {
  display: none;
  @include breakpoint($bp-medium-landscape) {
    display: block;
  }
}
