// Forms
//
// HTML forms are used to collect user input.
//
// select - A select list dropdown.
//
// Markup:
// <form>
//   <select>
//     <option value="volvo">Volvo</option>
//     <option value="saab">Saab</option>
//     <option value="mercedes">Mercedes</option>
//     <option value="audi">Audi</option>
//   </select>
// </form>
//
// Styleguide 5.0

.progress-bar {
  height: $base-margin * 1.75;

  &__inner {
    @extend %small;
    height: 100%;
    background-color: rgba($probo-alert-error, 0.1);
    color: $probo-pale;
    font-weight: 700;
    padding-left: $base-margin / 2;
  }
}
.select__menu-wrap {
  @include inline-block;
  position: relative;
  margin-top: -4px;
}
select,
.select__menu {
  z-index: 4;
  position: relative;
  padding: 10px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;
  font-weight: bold;
}

.select__arrow,
.select__text {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 3px;
  color: #222;
  z-index: 3;
}

.select__text {
  left: 0;
}

.select__arrow {
  right: 10px;
}

// select {
//   position: relative;
//   width: 200px;
//   margin: 0 auto;
//   padding: 10px;
//   background: #fff;
//   border-radius: 7px;
//   border: 1px solid rgba(0,0,0,0.15);
//   box-shadow: 0 1px 1px rgba(50,50,50,0.1);
//   cursor: pointer;
//   outline: none;
//   font-weight: bold;
// }
