// Accordion Navigation
//
// We want consistency between our sidebar menus across Probo sites. Make sure your site uses these classes and similar markup. You will need to add a JavaScript library to provide the accordion effect.
//
// Markup: accordion-nav.html
//
// .accordion-nav - The accordion-nav wrapper
//
// Styleguide 6.3

%sidebar-control {
  display: block;
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
  z-index: 10;
  text-indent: 4px;
  text-align: center;
}

.accordion-nav {
  padding-left: 0;
  font-size: 14px;
  margin: 0;
  position: relative;

  background: $probo-soft-peach;

  a,
  a:hover {
    text-decoration: none;
  }

  &__item {
    border: 1px solid $probo-pale-medium;
    background: #faf9f9;
    list-style-type: none;
    text-indent: 11px;

    .accordion-nav__toggle-children {
      border-right: 1px solid $probo-pale-medium;
      border-left: 1px solid $probo-pale-medium;
    }
  }

  &__item-link {
    @include link-colors($probo-purple-dark, $probo-purple, $probo-purple-dark, $probo-purple-dark);
    @extend .nav-link;

    display: block;
    padding: 12px;
    padding-right: 26px;

    .current {
      background: $probo-pale-medium;
    }
  }

  &__parent {
    background: $probo-soft-peach;
    padding: 0;
  }

  &__child,
  &__item {
    position: relative;
    right: 0;

    i {
      font-size: 30px;
      position: relative;
      top: 8px;
    }

    > ul {
      position: static;
    }

    &.is-closed {
      > ul {
        position: absolute;
        transition: max-height .15s cubic-bezier(0.7, 0.05, 0.15, 0.95), opacity .2s cubic-bezier(0.7, 0.05, 0.15, 0.95);
        max-height: 0;
        opacity: 0;
        top: -999em;
      }
    }

    &.is-open {
      border-bottom: none;

      > ul {
        transition: max-height .4s cubic-bezier(0.7, 0.05, 0.15, 0.95), opacity .3s cubic-bezier(0.7, 0.05, 0.15, 0.95);
        max-height: 9999px;
        opacity: 1;
      }
    }

    li:first-of-type {
      border-top: 2px solid $probo-pale-darker;
    }
  }

  &__child {
    border-bottom: 1px solid $probo-soft-peach-medium;
    list-style-type: none;
    text-indent: 0;

    .accordion-nav__toggle-children {
      border-right: 1px solid $probo-soft-peach-medium;
      border-left: 1px solid $probo-soft-peach-medium;
    }
  }

  &__child-link {
    @include rem(margin-left, 20px);
    @include link-colors($probo-purple-dark, $probo-purple);
    @extend .nav-link;

    border: none;
    background: transparent;
    padding: 12px 24px;
    display: block;
  }

  &__grandchild {
    border-bottom: 1px solid $probo-soft-peach-dark;
    background-color: $probo-soft-peach-medium;
    list-style-type: none;
    text-indent: 0;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__grandchild-link {
    @extend .accordion-nav__child-link;
    @extend .nav-link;

    margin-left: 4rem;
  }

  &__toggle-children {
    @extend %sidebar-control;

    top: 0;
    color: $probo-purple-dark;
    border-right: 1px solid $probo-pale-medium;
    border-left: 1px solid $probo-pale-medium;

    &:hover {
      cursor: pointer;
    }
  }

  &__item.search {
    text-indent: 0;

    label {
      @include visuallyhidden;
    }
  }

  &__search-input {
    width: 100%;
    height: 45px;
    border-radius: 0 !important;
  }

  &__search-submit {
    @extend %sidebar-control;

    display: flex;
    justify-content: space-around;
    width: 45px;
    top: 0;
    border-radius: 0;

    i {
      top: -2px;
    }
  }
}
