// Footer
//
// Explanatory text goes here.
//
// Markup: footer.html
//
// .footer - footer colors
//
// Styleguide 6.2

.footer {
  @include rem(font-size, 10px);
  background-color: $probo-gray-dark;
  color: $probo-pale;
  display: block;
  clear: both;
  overflow: hidden;
  font-size:14px;
  z-index:1;
  padding-bottom: 24px;

  &__secondary {
    @include cf;
    margin-bottom: 18px;
    background-color: $probo-pale;
    color: $probo-gray-dark;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
  }

  &__secondary-left {
    display: inline-block;
    margin: 0;
  }

  &__secondary-right {
    @include breakpoint($bp-medium-landscape) {
      position: absolute;
      right: 112.5px;
    }
  }

  &__secondary-link {
    color: $probo-gray-dark;
    font-size: 30px;
    padding: 0 10px;
    transition: color 0.2s ease;
    vertical-align: middle;

    &:hover {
      transition: color 0.2s ease;
      color: $probo-gray-dark;
    }
  }

  &__primary {
  }

  &__primary-left {
    // @include col(1/1);
    float: left;

    // @include breakpoint($bp-medium-landscape) {
    //   @include col(1/3);
    // }
  }
  &__primary-right {
    float: right;
  }

  &__copyright {
    color: $probo-gray-medium;
    padding: 0 12px;
    @include breakpoint($bp-medium-landscape) {
      padding-bottom:0;
      clear: both;
    }
  }

  &__navigation {
    margin: 0;
    padding: 0;
  }

  &__navigation-item {
      @include inline-block;
      list-style-type: none;
      margin-right: 12px;
    }

  &__navigation-link {
      @include link-colors($probo-pale-medium, $probo-blue, $probo-gray-medium, $probo-gray-medium);
  }
}
