// Footer
//
// We want to maintain a consistent footer across Probo sites. Make sure your site uses these classes and similar markup.
//
// Markup: footer.html
//
// .footer - The wrapper for footer styles.
//
// Styleguide 6.2

.footer {
  @include rem(font-size, 14px);
  background-color: $probo-gray-dark;
  color: $probo-pale;
  display: block;
  clear: both;
  overflow: hidden;
  z-index: 1;

  &__upper {
    padding: $base-margin * .5 3%;
    background-color: $probo-pale;
    color: $probo-gray-dark;

    @include breakpoint($bp-small-landscape) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__upper-left {
    padding-left: $base-spacing;

    @include breakpoint($bp-small-landscape) {
      margin-top: $base-margin;
    }
  }

  &__upper-link {
    @include link-colors($probo-gray-dark, $probo-gray-dark);
    transition: color 0.2s ease;
    font-size: $base-margin * 2.5;
    vertical-align: middle;
    padding: 0 10px;
  }

  &__lower {
    padding: $base-margin * 1.5 3%;
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    color: $probo-gray-medium;
    padding: 0 12px;
    @include breakpoint($bp-medium-landscape) {
      padding-bottom:0;
      clear: both;
    }
  }

  &__navigation {
    display: none;
    margin: 0;
    padding: 0;

    @include breakpoint($bp-small-landscape) {
      display: block;
    }
  }

  &__navigation-item {
      @include inline-block;
      list-style-type: none;
      margin-right: 12px;
    }

  &__navigation-link {
      @include link-colors($probo-pale-medium, $probo-blue, $probo-gray-medium, $probo-gray-medium);
  }
}
