// Footer
//
// We want to maintain a consistent footer across Probo sites. Make sure your site uses these classes and similar markup.
//
// Markup: footer.html
//
// .footer - The wrapper for footer styles.
//
// Styleguide 6.2

.footer {
  @include rem(font-size, 14px);
  background-color: $probo-gray-dark;
  color: $probo-pale;
  display: block;
  clear: both;
  overflow: hidden;
  z-index: 1;

  &__upper {
    @extend .footer__lower;
    @include cf;
    background-color: $probo-pale;
    color: $probo-gray-dark;
  }

  &__upper-link {
    color: $probo-gray-dark;
    padding: 0 10px;
    transition: color 0.2s ease;
    vertical-align: middle;
  }

  &__lower {
    padding: $base-margin * 1.5 0;
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    color: $probo-gray-medium;
    padding: 0 12px;
    @include breakpoint($bp-medium-landscape) {
      padding-bottom:0;
      clear: both;
    }
  }

  &__navigation {
    margin: 0;
    padding: 0;
  }

  &__navigation-item {
      @include inline-block;
      list-style-type: none;
      margin-right: 12px;
    }

  &__navigation-link {
      @include link-colors($probo-pale-medium, $probo-blue, $probo-gray-medium, $probo-gray-medium);
  }
}
