// Header
//
// Explanatory text goes here.
//
// Markup: header.html
//
// .header - header colors
//
// Styleguide 6.0

.header {
  width: 100%;
  opacity: 1;
  transition: none !important;
  background: $probo-purple-dark;
  @include breakpoint($bp-medium) {
    opacity: .95;
  }

  &__wrapper {
    padding-top: 0.5em;
    padding-bottom: 0;
    position: relative;
    @include cf;
  }

  &__title {
    margin: 0;
    @include breakpoint($bp-medium) {
      float: left;
    }
  }

  &__title-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
    margin: 0 auto;
    line-height:$logo-line-height;

    @include breakpoint($bp-medium) {
      float: left;
    }
  }

  &__logo {
    height: $logo-line-height;
    width: auto;
  }

  &__navigation {
    float: right;
    margin: auto;
    display: none;
    @include breakpoint($bp-medium) {
      display: block;
    }
  }

  &__navigation-item {
    list-style-type: none;
    float: left;

    &.current .header__navigation-link {
      color: #f07bcd;
    }
  }

  &__navigation-link {
    display: block;
    text-decoration: none;
    float: none;
    clear: both;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid #f7f2f5;
    line-height: $header-line-height;
    padding:0 12px;
    color: white;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }

    @include breakpoint($bp-medium) {
      float: left;
      width: auto;
      clear: none;
      border-bottom-width: 0;
    }

    &.login {
      background: $probo-purple-darkest;
      border-radius: 4px;
      font-family: Arial;
      color: #fff !important;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        background: #5f5d5d;
      }
    }
  }
}
