// Header
//
// We want to maintain a consistent header across Probo sites. Make sure your site uses these classes and similar markup.
//
// Markup: header.html
//
// .header - The wrapper for header styles.
//
// Styleguide 6.1

.header {
  width: 100%;
  opacity: 1;
  transition: none !important;
  background: $probo-purple-dark;

  @include breakpoint($bp-medium) {
    opacity: .95;
  }

  &__wrapper {
    @extend .layout-975;
    @include cf;

    position: relative;
    padding-top: $base-margin;
    padding-bottom: $base-margin;
  }

  &__title {
    height: $logo-line-height;
    width: auto;
    margin: 0;

    @include breakpoint($bp-medium) {
      float: left;
    }
  }

  &__title-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    float: none;
    width: 145px;
    line-height: normal;

    @include breakpoint($bp-medium) {
      float: left;
    }
  }

  &__navigation {
    float: right;
    margin: auto;
    display: none;

    @include breakpoint($bp-medium) {
      display: block;
    }
  }

  &__navigation-item {
    list-style-type: none;
    float: left;

    &.current .header__navigation-link {
      color: #f07bcd;
    }
  }

  &__navigation-link {
    @extend .nav-link;

    display: block;
    text-decoration: none;
    float: none;
    clear: both;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid;
    line-height: $header-line-height;
    padding:0 12px;
    color: $probo-white;
    font-size: 16px;

    &:hover {
      @include link-colors($probo-white);

      text-decoration: underline;
    }

    @include breakpoint($bp-medium) {
      float: left;
      width: auto;
      clear: none;
      border-bottom-width: 0;
    }

    &.login {
      background: $probo-purple-darkest;
      border-radius: 4px;
      color: $probo-white !important;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        background: $probo-gray-dark-medium;
      }
    }
  }
}
